<a href="https://colab.research.google.com/github/skyboong/python_learning/blob/master/ch02_paly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch2 파이썬과 놀기 (맛보기)

- 파이썬과 처음 만나는 시간입니다. 간단하게 파이썬 문법의 이모저모를 '쭉' 살펴 보겠습니다. 이리저리 돌아 다니면서 파이썬의 기초 문법을 익히도록 하겠습니다.

- 아래 내용을 쭉 따라 해 보세요. 단계 마다 마지막에 퀴즈도 나갑니다. 재미나게 퀴즈도 풀면서, 정말 이해하고 넘어가는지를 한번 체크 해 보셔요.


※ *새로운 단어* : 자료형, 연산자, 메소드, 빌트인 함수

## 1 **배울 내용**


**목표** : 이번 레터에서는 아래 사항을 소개 해드립니다.

 - 자료에는 여러가지 종류(type)가 있다.
 - 각 자료형 마다 연산자가 있다.
 - 각 자료형 마다 메소드가 존재한다.
 - 빌트인 함수(표준함수)도 있다.

| 구분 |배울 내용| 함수 | 자료형 | 연산자 |
| --- |:---|:---  |:--- |:--- |
|실행 | IDLE, Jypter notebook 사용법|      |   |     |
|문자|print,type,따옴표,연산자,주석| print(),type()|str|+, *  |
|숫자| print,type,연산자,숫자와 문자 차이,에러 이해| print(),type() |int,float    |+,-,*,/,//,%, +=,==  |
|변수개념 이해|       |    |  | |
|집짓기| 단독, 아파트 차이| len()  | list   | |
|연산자 | 자료형과 연산자 |  |     |
|기초 함수|       | dir(),<br>help()  |  | |
|제어문 |for,while,if,continue,break, match case|range(),<br>enumerate()<br>list()| |in|
|파일에 명령어 저장, 실행|       | |      |  |  
|실습 : 과제 수행하기|      | |      |  |
<caption><center>소개할 순서</center></caption>

# 제1절 문자

## [설명]


파이썬 IDLE 또는 주피터 노트북을 실행하고 난 다음 제일 먼저 뭐 부터 해볼까요. 많은 분들이 'Hello' 문자를 모니터에 출력하는 작업을 합니다. 우리도 이런 전통을 즐기면서, 한번 해 보겠습니다.

### (1) 문자

- 파이썬에서 사용하는 문자는 string(문자열) 이라고 합니다.

### (2) 프린트


먼저, 아래와 같은 명령어를 입력해 봅시다.

```python
print("Hello")
```

파이썬에서 문자를 표시할 때는, 작은 따옴표(''), 큰 따옴표(","), 세겹 따옴표(""",""")를 모두 사용 할 수 있습니다.

```python
print('안녕하셔요')
print("안녕하셔요")
print("""안녕하셔요""")
```

### (3) 타입

모든 데이터는 특정한 타입(type)을 지닙니다. 그래서 타입을 알아야 하는데, 타입의 종류가 많습니다. 처음에는 어려울 수 있지만, 조금 지나면 그냥 알게 됩니다.

파이썬에서 제공하는 type() 함수를 이용하면, 해당 데이터의 종류를 알 수 있습니다. 아래와 같이 한번 해 봅시다.

```python
type('abc')

str
```

문자 'abc'는 str 타입 입니다. 이것은 문자열(string)을 나타냅니다.

In [ ]:
# example

type('abc')

str

### (4) 연산자 : 공백, +, *, ==

* '연산자(operator)'라는 단어가 낯설 수도 있지만, 일단 진행해 보겠습니다. 수학 시간에 배운 연산자와 비슷하지만, 컴퓨터 키보드에 등장하는 여러가지 기호 들에는 어떤 특별한 의미를 부여해 놓았습니다. 그런 의미를 하나씩 배워 나갈 것입니다.


프린트 명령어를 다양하게 알아보겠습니다.

- 문자만 출력하기
```python
print("I am Dr. Who !")
[결과] I am Dr. Who !
```

- 공백  : 아무런 연산자 없이 그냥 문자열만 나열하면 문자를 자동으로 연결시켜 줍니다.
```python
print('Red' 'Green' 'Blue')
[결과] RedGreenBlue
```

- 더하기(+)
```python
print("I am" + "Dr. Who !")
[결과] I amDr. Who !
```
- 곱하기(*) 문자열을 *배 만들어 줍니다.
```python
print("ABC"*10)
[결과] ABCABCABCABCABCABCABCABCABCABC
```

- 비교(==) : 문자열이 같은지 비교하여 같으면 True, 다르면 False 보내줌
```python
print("ABC"=='ABC')
[결과] True
```
-  마이너스(-)는 ? 그런데 문자를 빼는 기능은 지원하지 않습니다. 각자가 테스트 해 보셔요.

In [ ]:
# print("ABC"=='ABC')

## [Example]

In [ ]:
# + * 기능 확인하기
print("I am " + "Dr. Who !") # + 기능
print('abc'*3)               # * 기능

# 아무런 연산자 없이 그냥 문자열만 나열하면 문자를 자동으로 연결시켜 줍니다.
print('Red' 'Green' 'Blue')


# 프린트 괄호안의 콤마(,)의 역할 : 콤마는 스페이스 기능을 수행합니다.
print('apple')
print('apple' 'banana')
print('apple','banana')

I am Dr. Who !
I am Dr. Who !
abcabcabc
RedGreenBlue
apple
applebanana
apple banana

## [Quiz]



```python
[Q-1] 다음 중 맞지 않는 방법은 ? (문자열;따옴표)

① print('"도서관"에 가다')
② print(""도서관"에 가다")
③ print(""""도서관"에 가다""")
```

```python
[Q-2] 다음의  결과는 ? (문자열;연산자)

print("*"*5)

① *5   ② *****   ③ *55555
```

```python
[Q-3] 아래 결과는 어떻게 될까요 ?

a = 'apple'
b = 100
print(a,b)

① 에러가 발생한다.
② apple 100
③ apple, 100
```

In [ ]:
# sol

a = 'apple'
b = 100
print(a,b)

apple 100

# 제2절 숫자(정수, 실수)

## [설명]

- 이번에는 숫자를 출력하는 방법을 알아 보겠습니다. 숫자는 정수, 실수, 복소수 등이 있습니다. 파이썬은 이런 모든 숫자를 다룹니다. 그런데 우리는 정수, 실수만 다룰 것입니다.

### (1) 숫자


정수는 플러스, 마이너스 값을 가지며, 실수는 소수점을 가집니다.

- 정수 : 0 ,-1, 1, ...
- 실수 : 1.0, 1., 0.1,  소수점이 있는것

- *그리고 파이썬에서는 True, False 를 문자가 아닌 숫자로 인식합니다.

In [ ]:
True == 1

True

In [ ]:
False == 0

True


### (2) 프린트 방법

- 프린트 함수를 처음 배워 보겠습니다.


```python
print(100)  # 이건 정수이죠.
print(0.8)  # 이건 실수 이죠.
print(0.)   # 이것도 실수 이죠.
print(1.)
```

In [ ]:
# 결과

print(100)  # 이건 정수이죠.
print(0.8)  # 이건 실수 이죠.
print(0.)   # 이것도 실수 이죠.
print(1.)

100
0.8
0.0
1.0

### (3) 타입 : float, int


- 앞에서 문자 타입 확인할 때 사용한 type() 함수를 이번에도 사용해 보겠습니다. int 는  정수(integer)이며, float은 실수 입니다.


- (참고) C언어에서 실수는 float, double 타입이 있는데, 파이썬은 float 만 있습니다. KINME 에서 I, D로 표시된 부분이 있는데, I는 정수, D는 double 인 실수를 나타내죠, 같은 용어입니다.

```python
type(1)

type(0.)
```

In [ ]:
# example

type(1)

int

In [ ]:
type(0.)

float

### (4) 연산자


- 이제 숫자의 연산자를 알아 보겠습니다. 더하기, 빼기, 곱하기, 나누기 등등에 대해서 살펴 보겠습니다. 아마도 몫, 나머지, 지수, 비교, 할당 연산자는 낯설 수 있습니다. 한번 더 눈길을 보내 주세요

| 구분      | 기호  | 설명 |
| :---:    |:---: |:---:|
| 더하기 | + |  - |  
| 빼기  | - | - |
| 곱하기 | * | 곱하기 × 가 키보드에 없기에 * 을 사용 |
| 나누기 | / | 나누기 ÷ 도 키보드에 없기에 / 을 사용 |  
| **몫연산자**| // |    몫만 돌려주고 나머지는 버리는 연산자 x // y (예 7//2 하면 3) |
| **나머지연산자** | % | 몫은 버리고 나머지만 돌려주는 연산자 x % y (예 7%2 하면 2*3 + 1 이니 나머지는 1)|
| 지수 연산자| ** |  a**b (a의 지수 b) |
| 비교 연산자| == | 값비교 |
| 할당 연산자| +=, -=, *=, /= | 동시에 두개의 연산자 적용 |
<caption>숫자형에서 작동 가능한 연산자</caption>

#### 사칙연산


- 여러가지 연산자 중에서 먼저 사칙연산 연산자인 더하기, 빼기, 곱하기, 나누기를 하는 방법 부터 알아 보겠습니다. 곱하기, 나누기 기호를 눈여겨 봐주셔요.


print(1+2)
print(3-1)

곱하기는 × 가 키보드에 없습니다. 그래서 '*' 을 사용합니다. 나누기 ÷ 도 키보드에 없습니다. 그래서 '/' 을 사용합니다

print(3*9)
print(27/2)



자, 이제 변수명을 이용해서 더하기 빼기를 하는 방법을 배워보겠습니다.

```python
a = 100
b = 10.1
c = a+b

print(c)
110.1
```

#### // (몫 연산자)

몫을 돌려줍니다. 이게 언제 쓰일까 쉽지만, 종종 사용합니다. 아래에서 10 나누기 3을 해서 몫만 구하는 방법을 표시해 놓았습니다.

In [ ]:
10//3

3

In [ ]:
# 실수 나누면 실수로 리턴해 줌

10.1//3

3.0

#### % (**나머지 연산자**)

- 나머지 연산자인 퍼센트 기호도 언제 사용하나 싶겠지만, 이게 종종 사용합니다. 이런 것이 있구나 하고 익혀 둡시다.
- (외) **퍼나**르다 --> 퍼센트는 나머지 연산자

In [ ]:
10%3 # 나머지를 구합니다.

1

In [ ]:
11%3

2

In [ ]:
11.1%3

2.0999999999999996

#### **(지수 연산자)


- ** 연산자는 지수 값을 구해 줍니다.

```python
2**3

2.1**2
```

In [ ]:
2**3

8

In [ ]:
# 참고
pow(2,3)

8

In [ ]:
import numpy as np
np.power(2,3)

8

#### +=, -=, *= (복합 할당 연산자)


- x += y 는  x = x + y 를 나타냅니다.
아래 예를 보면 이해가 될 것입니다.
처음에는 낯설지만, 나중에는 이런 표기법이 편해지게 됩니다.

```python
a = 100
a = a + 200
print(a)
```

위의 예와 아래는 같은 결과를 보이고 있다.
```python
a  = 100
a += 200
print(a)
```

아래는 -= 연산자의 예이다.
```python
a = 10
a -= 20
print(a)
```

아래는 *= 연산자의 예이다.
```python
a = 10
a *= 20
print(a)
```

In [ ]:
a = 10
a *= 20
print(a)

200

#### == (비교 연산자)

```python
x == y 는 x와 y의 값이 같은지를 비교하여 같으면 True, 다르면 False 를 돌려 줍니다.

a = 10
b = 20
c = 10

print(a == b)
print(a == c)
```

### [주의1] 숫자와 문자의 차이점

- 이게 중요합니다. 겉으로 보기에는 숫자로 보여도, 컴퓨터가 인식하는 것은 따옴표 사이에 있는 숫자는 글자로 인식을 합니다.

```python
print(10)    #<-- 숫자로 인식합니다.
10

print('10')  #<-- 글자로 인식합니다.
10
```

※ 참고, 엑셀 파일의 경우도, 시트에서 숫자로 보이지만, 왼쪽에 있으면 문자, 오른쪽에 있으면 숫자

In [ ]:
# example

a = 'abc'
b = '123' # 외형상 숫자 같지만, 실제는 문자임

print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

### [주의2] 타입이 다르면 에러 발생


- 타입이 다르면, 연산자를 적용할 수 없습니다. 아래와 같이 str과 int 형을 덧셈(+)연산자로 이어주면, 에러가 발생합니다.

```python
'10' + 10

TypeError: can only concatenate str (not "int") to str
```

- '10'+10 에서 '10'의 타입은 str 이며, 10은 int 입니다. 그런데 이렇게 타입이 다른 값에  덧셈(+) 연산자를 적용시키면, 에러가 발생합니다.

- 정수, 실수 타입은 같이 사용 가능하지만, 문자와 숫자는 같이 사용할 수 없습니다.

## [Example]

In [ ]:
7//2

3

In [ ]:
7%2

1

In [ ]:
7**2

49

In [ ]:
1 == 1

In [ ]:
a = 100
a += 200 # a = a+200
print(a)

300

In [ ]:
a = 10
a *= 3
print(a)

30

In [ ]:
print('100' + '9')
print(100 + 9 )

type('100'+'9')

type(100+9)

## [Quiz]

```python
[Q] 파이썬 명령창에서 다음을 계산하고 결과값을 제시 해보세요

① 22 × 10
② 33 ÷ 20
```

```python

[Q] 다음을 파이썬 수치 연산자를 사용하여 구하시오

① 100을 20으로 나눌 때 나머지는 ?
② 100을 20으로 나눌 때 몫은 ?
```

```python
[Q] 다음 결과는 ?

type(1000+9)

①int ② str ③ list
```

```python
[Q] 다음 결과는 ?

type('100'+'9')

①int ② str ③ list

```


```python
[Q] 다음의  결과를 맞춰 보셔요.

a = 100
b = 'km'
c = 1.

print(a, b, c)

① 100, km, 1.0
② 100 km 1
③ 100 km 1.0
```

```python
[Q] 다음 결과는 무엇일까요 ?(형일치)

10 + '1'  

① 11,
② 에러가 발생한다
③ 10
```

<hr>

In [ ]:
100%20

0

In [ ]:
100//20

5

In [ ]:
# sol
print(22*10)
print(33/20)

220
1.65

In [ ]:
# sol
a = 100
b = 'km'
c = 1.

print(a, b, c)

100 km 1.0

In [ ]:
# 10 + '1'

# 제3절 리스트(list)

## [설명]

### (1) 여러 개 데이터 저장

- 리스트는 여러 개의 데이터를 저장할 수 있습니다.

```python
a = [1,2,3]
```

- 데이터 타입이 달라도 저장할 수 있습니다. 숫자, 문자 등등 다 들어 갈 수 있습니다.

```python
a = ['apple','banana',20]
```

- 심지어 리스트 안에 리스트도 넣을 수 있습니다.

```python
a = [ 'apple', 'banana', 10,20,['grape',1,2]]
```

### (2) 형 확인

- 리스트를 하나 만들어 type() 함수에 넣어 봅시다. 뭐가 보이나요 ?

In [ ]:
a = [100,200,300,50]
type(a)

list

- 뭐가 보이나요 ? 'list' 라고 적힌 것을 보셨나요. 그럼 이 데이타의 타입을 뭐라고 부를까요 ? 네, 리스트(list)라고 부릅니다. 즉 리스트는 여러 개의 값을 저장할 수 있는 데이터 구조입니다.

### (3) 인덱싱(집찾아가기)

#### 1) 위치번호는 0 부터 시작



- 이때 번호는 **0 부터 시작** 합니다. (1부터 시작이 아님)
- 그리고 리스트를 나타내는 기호는 **직각 브라킷** \[ \] 입니다.

```python
# ex1

a = [100,200,300]

print(a[0])
print(a[1])
print(a[2])

100
200
300
```

#### 2) 다중 리스트

- 리스트안의 리스트에 접근하는 방법은 [ ] [ ] 를 사용합니다.

```python
a = [ ['Hong','Park','Sohn'],['Go','Lee','Kim']]

print(a[0])    
print(a[0][0])
```

#### 3) 제일 마지막은 -1


- -1은 제일 끝을 의미합니다.

```python
a = [100,200,300,500,400] 이 있다고 합시다.

이때  a[4]라고 해도 됩니다.  그런데 아래의 리스트 a에서 제일 마지막 값을 어떻게 불러올까요.

a = [1,3,1,1,3,111,333,1113,3333,55555,1111,881,200,100,10]

```

- a안에 몇 개 있는지를 하나하나 세어서 그 갯수에서 1을 빼 주면 마지막 집에 들어있는 값을 구할 수 있습니다. 그런데 이런 방법은 시간이 많이 소요되고, 좀 헷갈립니다. 그래서 "뒤에서 부터 세어 주셔요" 라고 파이썬에게 명령을 내리고 싶습니다. 이럴 때 -1을 사용하면 됩니다.

```python
print(a[-1]) ---> 10
print(a[-2]) ---> 100
print(a[-3]) ---> 200
```

- -2는 -1보다 1 더 앞에 있는 것입니다.
- -3은 -2보다 1 더 앞에 있는 것입니다.

- [Example] 제일 마지막 요소를 알아내는 방법

```python
a = [1,3,1,1,3,111,333,1113,3333,55555,1111,881,200,100,10]

print(a[-1]) #---> 10
print(a[-2]) #---> 100
print(a[-3]) #---> 200
```

#### 4) 리스트 주소번호를 벗어난 주소값을 입력하면 ? (인덱스 에러가 발생합니다)

```python
a = [1,2,3,10]

print(a[100])

ndexError: list index out of range
```

- 위의 a 리스트의 개수는 4개이다. 그래서 a[0],a[1],a[2],a[3]만 가능한다. 그런데 a[100]과 같이 인덱스가 벗어나면, 인덱스가 범위 밖에 있다는 에러 메시지가 등장한다.
IndexError: list index out of range

In [ ]:
# Example

a = [1,2,3,10]

#print(a[100])

#### [Quiz] 인덱싱

In [ ]:
# Quiz

a = ['a','b','c', 2222, 0 , 100]

print(a[-1] * 100)

10000

In [ ]:
# Quiz

a = ['a','b','c', 2222, 0 , 100]

print(a[-2] * 100)

0

In [ ]:
# Quiz 다음 결과는 ?

a=['apple']

print(a[0])
print(a[-1])

print(a[0] == a[-1])

apple
apple
True

In [ ]:
# Q1 다음 값은 얼마입니까 ?

a = [1,2,3,4,5]

print(a[0])
print(a[4])

1
5

In [ ]:
# Q2

a = [['apple','banana'],'grape','orange']

print(a[0][1])

banana

In [ ]:
# Q3 아래에 대해 답해 보셔요.

a = [1,2,3]

b = a[0] + a[2]

print(b)

4

In [ ]:
# Q3 아래에 대해 답해 보셔요

a = [[1,2,3],[2,3,4]]
print(a[1][0])

2

In [ ]:
# Q 아래에 대해 답해 보셔요

a = [[1,2],[2,3,4]]
print(a[0])

[1, 2]

In [ ]:
# Q 아래에 대해 답해 보셔요

a = [[1,2],[2,3,4]]
print(a[1])

[2, 3, 4]

### (4) 슬라이싱 (잘라내기 slicing)

> 방법 : 리스트이름[ start : end ]

- 시작위치에서 최종위치 이전까지(start<= <end)

```python
a=[1,2,3,4,5]
print(a[1:2])

a[1] 부터 a[2] 이전까지, 즉 [2] 를 추출한다.

a=[1,2,3,4,5]
print(a[:2])

처음 시작 위치를 지정하지 않으면, 0 부터 시작한다.
a[:2]는 a[0] 부터 a[2] 이전까지 , 즉 [1,2] 이다.

In [ ]:
# Example

a=[1,2,3,4,5]

print(a[1:2])
print(a[1:4])

[2]
[2, 3, 4]

#### [Quiz] 슬라이싱

```python
[Quiz] 아래의 결과는 ?

a=[1,2,3,4,5]
print(a[:-1])


① [1,2,3,4]
② [1,2,3,4,5]
③ [2,3,4,5]
```

### (5) 리스트의 크기


- 그런데 이 리스트 a 안에 요소들이 몇 개 들어 있나요 ?

```python
a = ['a','b','bbb']
```

- 대충 눈으로 확인하면 a 리스트의 요소는 3개라는 것을 쉽게 알 수 있습니다.
- 그런데 아래 리스트에는 몇 개 요소가 있을까요 ?




```python
a = ['a','b','bbb','dddd',1,3,1,1111,333,2222,11]
```

- 눈이 헷갈리 수 있습니다. 그래서 이럴때 요소개수를 쉽게 찾아주는 함수를 아래에 소개합니다.

#### 1) len() 함수 소개

> len() 함수는 리스트 내에 몇 개의 요소가 들어 있는지를 알려줍니다.

- len(변수명) 이렇게 적어주셔요.
- 그러면 변수안에 담긴 요소드의 갯수를 알 수 있습니다.

```python
a = [1,2,3,'abc']
len(a)
```

In [ ]:
# example

a = [1,2,3,'abc']
print(len(a))

a = ['a','b','bbb','dddd',1,3,1,1111,333,2222,11]
print(len(a))

4
11

#### 2) 공백도 요소로 취급, 당연히 크기도 차지

- 공백도 요소 하나이기에, 아래 b는 1개 요소가 있는 것입니다.
 그런데 [] 빈 리스트의 크기가 얼마일까요 ?

```python
a = []  
```

- 이것은 빈 리스트입니다. 그래서 크기도 0 입니다.

In [ ]:
# Example

len([])

0

아래 크기는 얼마일까요 ?


```python
b = ['']
```
이것은 공백 하나를 포함하는 리스트 입니다. 크기는 1입니다.

In [ ]:
len([''])

1

#### [Quiz] 리스트 크기 구하기

```python
[Q1] 아래 리스트의 크기는 ?

a = []
b = ['']
c = ['','']


print(len(a))
print(len(b))
print(len(c))

① 0 1 2
② 0 0 2
③ 1 1 2
```

```python
[Q] 아래의 답은 ?

a = []
b = ['']
c = ['', ' ']

print(len(a) + len(b) + len(c))

① 3
② 2
③ 1

```

In [ ]:
# Example

# 비어있는 리스트 : 리스트 안의 요소의 갯수를 구하는 것이 len()함수이다.
a = []
print(len(a))

b = ['a','b','c','d','aaa','bbb','dddd',1,3,1,1111,333,2222,11]
# 위에서 눈 헷갈리게 했던 b안의 요소들 갯수는 ?
print(len(b))


# 공백도 문자이기에 개수에 포함됩니다. 그래서 아래는 7개입니다.
print(len(' apple '))


# 자 이번에는, 문자열의 크기를 살펴 봅시다.
a = 'banana'
print(len(a))
print(len('apple'))

0
14
7
6
5

### (6) 연산자 : +

In [ ]:
# 리스트는 더하기를 하면 연결이 됩니다.

a=[1,2,3]
b=['apple','banana']
a+b

[1, 2, 3, 'apple', 'banana']


## [Quiz] 리스트


```python
[Q] 다음의 값은  ?

a = [1,10,100]
print(len(a)*10)

① 3 ② 30 ③ 300
```

```python
[Q] 아래 결과를 맞춰 보셔요.

a = ['apple','banana',10,20]
print(a[0] + a[1])

① 100   ② applebanana  ③ 200
```


```python
[Q] 아래 결과를 맞춰 보셔요.

a = [100,200,300,500,400]
print(a[0] + a[1])

① 100   ② 300     ③ 200
```

```python
[Q] 아래 결과를 맞춰 보셔요.

b = [[1,100,10],[2,3]]
print(b[0][1] + b[1][0])

① 102   ② 103     ③ 104
```

```python
[Q] 리스트의 -1의 의미를 이해했는지 확인해 볼까요.
아래 결과값을 맞춰 보셔요.

data = [100,200,10,20,111,222,333,111,333,1111,0,-1,11,1]
print(data[-1])

① 1   ② 11     ③ 111
```

```python
[Q] 리스트의 -1의 의미를 이해했는지 확인해 볼까요. 아래 결과값을 맞춰 보셔요.

data=[1,3,5,7]
print(data[-1] + data[-3])

① 0    ② 10     ③ 22
```

In [ ]:
# (sol)

a = ['apple','banana',10,20]
print(a[0] + a[1])

applebanana

# 제4절 자료형 vs 연산자(operator)


[https://docs.python.org/3/library/operator.html#module-operator]

- 기본적인 더하기 빼기 이외의 연산자들의 목록을 보고싶으면 아래 사이트 방문하시기 바랍니다.



| 기호 | 의미 | 문자(str)  | 숫자(int, float) | 리스트(list) |
|:---:| :---|:---: |:---:|:---:|
| +   | 더하기 |  O  | O  |  O  |
| -   | 빼기   | -  | O  |  -  |
| *   | 곱하기 |  O  | O  |  -  |
| /   | 나누기 | -   | O   |  -  |
| //  | 몫    | -   | O | - |
| %   |나머지  | -   | O  | - |
| **  |지수   | -   | O  |  - |
| ==  | 비교  | O   | O  | O  |
| +=,*= | 복합할당 | △ | O  | O  |
| -=,/= | 복합할당 | -  | O  | O  |

<caption>연산자와 자료형별 작동 여부</caption>

- 몫연산자(몫만 돌려주고 나머지는 버리는 연산자) x // y
- 나머지연산자(몫은 버리고 나머지만 돌려주는 연산자) x % y
- 지수 연산자   a**b (a의 지수 b)

# 제5절 기초함수 소개

앞에서 아래 3개 함수에 대해 간단하게 살펴 보았습니다.  

- print()
- type()
- len()

이제는 다음 함수의 사용법을 살펴 보겠습니다.

- dir()
- help()
- list()
- range() : 다음 섹션에서
- enumerate() : 다음 섹션에서

객체(object)에 대해서 잘 모를 때는 dir(), help() 함수를 불러 주셔요.

## dir()


- dir()은 속성, 메소드 정보를 보여줍니다.
- 메소드(method)들을 알 수 있습니다.
메소드에 접근하려면 점(.) 을 찍고 메소드를 사용하면 됩니다.
- 언더바2개 있는 메소드는 보통 사용하지 않습니다. 그냥 이런 것이 있다는 것만 알고 넘어값시다.
언더바가 없는 메소드는 자주 사용하게 될 것입니다.

In [ ]:
a=1
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [ ]:
a.__add__(2)

3

## help()


- help()는 객체에 대한 정보를 제공해 줍니다.

In [ ]:
a='apple'

# 출력이 많이 생겨서 생략
# help(str)

## list()

- 문자열을 리스트형으로 바꿀 수 있습니다.
ㅡ

In [ ]:
a = list('abc')
print(a)
print(type(a))

type('abc')

type(list('abc'))

['a', 'b', 'c']
<class 'list'>

list

# 제6절 제어(for, while, if 문)


## (1) for 문

- 반복문이라고 합니다. 무엇을 하는 동안 "반복하셔요"라는 기능을 수행합니다.

```python
for i in list1 :
  do //
```
for ... in 의 기능은  리스트의 값을 차례대로 i 에게 전달해줍니다.

> for문을 만들 때는 다음에 주의하셔요.

- 첫번째 : for  와 in 사이에 들어가는 변수명은 마음대로 하셔도 됩니다.
- 두번째 : in 다음에 리스트, 튜플 등 이터러블 한 시컨스를 입력 합니다.
- 세번째 : for 가 있는 줄 제일 끝에는 콜론(:)을 적어줘야 합니다.
- 네번째 : for 문에 속하는지 속하지 않는지는 들여쓰기로 구분합니다. 들여쓰기 중요합니다.


- for i in 리스트(튜플) 등:
```python
for i in [10,20,1] : # 마지막에 콜론(:) 적어 줌
    print(i+i) #
```
- [100,200] 리스트에서 제일 앞에있는 값, 100이 i=100 이 되며, print(i) 하면 당연히 100이 출력 된다. 그리고 더 이상 수행할 것이 없으면, 다시금 리스트로 돌아 갑니다.

In [ ]:
# ex

for i in [10,20,1] : # 마지막에 콜론(:) 적어 줌
  print(i+i) #

20
40
2

In [ ]:
# ex

for a in [100,200]: # for  와 in 사이에 들어가는 변수명은 ?
    print(a) #
    print("---")

100
---
200
---

In [ ]:
# for문의 작동 순서를 알아 봅시다.

for each in [10,20,30]:   # each=1, each=2, each=3\n",
    print('One', each)
    print('Two', each*each)
    print("*"*20)

One 10
Two 100
********************
One 20
Two 400
********************
One 30
Two 900
********************

In [ ]:
# 예제 3

for each in ['choi','han','park']:
    print(f"Family name : {each}")

Family name : choi
Family name : han
Family name : park

In [ ]:
# 예제 4  다음은 어떻게 작동하는지를 생각해 보세요. len() 함수는 문자 갯수를 알려줍니다.

for w in ['아침', '햇살이', '좋아요']:
    print(f"{w}")
    #print(w)

words1 = ['아침', '햇살이', '좋아요']
for w in words1:
    print(f"{w}, {len(w)}")

아침
햇살이
좋아요
아침, 2
햇살이, 3
좋아요, 3

#### [Quiz]

```python
[Q] 아래 결과는 ?

a=0
for i in [1,2,3]:
    a += i # a = a+i
print(a)

① 6  
② applebanana  
③ 123
```

In [ ]:
# sol

a=0
for i in [1,2,3]:
    a += i # a = a+i
print(a)

6

In [ ]:

# (1) 1 (2) 5 (3) 6

# 문제 : for 문을 사용해서 1부터 1000까지 합을 구하세요.
# (range() 배우고 난 다음)

## (2) for 문 중첩


- for문 속에 for 문 을 다시 만들 수도 있습니다.

```python
for i in range(2,4):
    print("-"*10)
    for j in range(1,5):
        print(f'{i}*{j}={i*j}')
```

In [ ]:
# sol

for i in range(2,4):
    print("-"*10)
    for j in range(1,5):
        print(f'{i}*{j}={i*j}')

----------
2*1=2
2*2=4
2*3=6
2*4=8
----------
3*1=3
3*2=6
3*3=9
3*4=12

In [ ]:

# (Quiz) 구구단을 출력해 보세요, 3단, 4단

In [ ]:
### in 연산자

멤버인지 아닌지 알려줍니다.

'a' in ['a','b','c']

1 in range(10)

1000 in range(10)

## (함수) range(start, end, step)


- for 문과 함께 많이 사용되는 함수가 있습니다.
- range() 함수입니다. range(숫자)형식을 취하며,
- 숫자 하나만 입력하면 0부터 입력한 숫자 -1 까지의 정수를 리턴합니다.
- 즉 range(5)는 0,1,2,3,4 까지 값을 가집니다. (그런데 이게 단순한 리스트가 아니라 이터레이터 입니다.)
- 5까지가 아니라는 점을 주목해 주세요.
- 마지막은 들어가지 않습니다.

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
# 아래 코드는 for 문과 range() 함수를 이용하여 1부터 5까지 프린트 합니다..

for each in range(6):
    print(each)

0
1
2
3
4
5

In [ ]:
# range는 처음, 끝, 간극 값을 지정해 주어 보다 유연하게 숫자 시컨스를 생성할 수 있습니다.

# start : 처음
# end : 끝
# step :간극

# 아래는 1부터 10 이전까지 2 씩 증가한 숫자를 생성합니다.
print(list(range(1,10,2)))

# 아래는 1부터 10 이전까지 3 씩 증가한 숫자를 생성합니다.
print(list(range(1,10,3)))

[1, 3, 5, 7, 9]
[1, 4, 7]

In [ ]:
# 아래는 1부터 100까지 덧셈하는 방법을 소개합니다. 2가지 방식으로 소개합니다.

sum1 = 0
for i in range(1,101):
    sum1 = sum1 + i
print(sum1)


sum1 = 0
for i in range(1,101):
    sum1 += i # 이렇게 해도 됩니다.
print(sum1)

5050
5050

#### [Quiz]

- [Q1] 1부터 100까지 짝수의 합을 구하는 프로그램을 작성하셔요.
- [Q2] 1부터 100까지 홀수의 합은 구하는 프로그램을 작성하셔요.  
- [Q3] 1부터 100 중 3의 배수의 합을 구하는 프로그램을 작성하셔요.

In [ ]:
# (sol)

# 1부터 100까지 짝수의 합
sum1 = 0
for i in range(2,101,2):
    sum1 += i
print('Q1 = ', sum1)

# 1부터 100까지 홀수의 합
sum1 = 0
for i in range(1,101,2):
    sum1 += i
print('Q2 = ',sum1)

# 1부터 100까지 3의 배수의 합
sum1 = 0
for i in range(1,101,3):
    sum1 += i
print(f"Q3 = ", sum1)

Q1 =  2550
Q2 =  2500
Q3 =  1717

## (함수) enumerate()

- for 문과 함께 많이 사용되는 함수에는 enumerate()가 있습니다.
- 이것은 인덱스도 함께 리턴해 줍니다. 시컨스 중 제일 앞에 있는 것은 0을, 그 다음은 1씩 증가시킨 값을 생성합니다.

In [ ]:
# 예

names = ['hong','kim','choi','lee']
for each in names:
    print(each)

print('*'*10)
for index, each in enumerate(names):
    print(f"{index}, {each}")

In [ ]:
# 처음 시작하는 번호를 지정할 수 도 있습니다.

for index, each in enumerate(names, start=100):
    print(f"{index}, {each}")

**********
100, hong
101, kim
102, choi
103, lee

In [ ]:
# 더 자세히 알고 싶으면, 앞에서 배운 help() 함수를 이용해서 보다 많은 정보를 찾을 수 있습니다.
# help(enumerate)

## (3) while 문


조건이 참이면 계속 그 내용을 수행하게 됩니다.

```python
while 조건 :
    실행1
```

아래에서 조건이 참이면 계속 반복하는 순환문을 볼 수 있는데요, 증감식을 두어서 일정 조건을 벗어날 수 있도록 하였습니다.

```python
a = 5

while a>1:
    print(f">>> {a}")
    a -= 1
```

In [ ]:
# ex

a = 5

while a>1:
    print(f">>> {a}")
    a -= 1

>>> 5
>>> 4
>>> 3
>>> 2


### break


순환문에 등장하는 아래 3가지 명령어가 있습니다. 이중에서 break 사용법만 살펴 봅시다.

- continue : 신중
- **break** : 적극. 루프 탈출한다 (루프가 많으면 가장 안쪽 먼저 탈출한다)
- pass : 침묵.

- break는 루프를 탈출하게 합니다. 즉 a가 5가 될 때 순환문을 탈출합니다. 아래에서 *이 5개까지 출력된 것을 확인하셔요.

```python
a = 10

while a > 1:
    if a == 5 :
        print(f">>> a = {a}")
        break  
    a -= 1
    print("*"*a,a)
```

In [ ]:
# ex

a = 10

while a > 1:
    if a == 5 :
        print(f">>> a = {a}")
        break
    a -= 1
    print("*"*a,a)

********* 9
******** 8
******* 7
****** 6
***** 5
>>> a = 5

## (4) if 문

- if의 의미는 if 다음의 x가 참이라면 if문 아래에 있는 문장을 실행하라는 의미입니다. 만약 그렇지 않을때는 else 이하를 실행합니다.
- 이때 0, 빈리스트 등은 False 입니다.  

```python
if x :
   액션
else:
   액션
```

In [ ]:
# 예제 1

if True :
    print("apple > orange")

apple > orange

In [ ]:
# 예제 2

a = True

if a :
    print("a is True")

a is True

## 7절 파일

* IDLE 기준으로 설명함

### 저장

- 사용하는 개발툴에서 New File 을 선택하여 비어있는 파일을 만든 다음에 아래와 같이 입력해 보셔요.

```python
print(“Hello”)
```

그런 다음에 저장하셔요. 파일 확장자는  *.py로 하면 됩니다. 그럼 파일 저장이 완료되었습니다.

- 확장자 : *.py, *.pyw

## 파일 불러오기

저장한 파일을 불러옵니다. File 메뉴의 Open을 클릭하셔서, 조금 전에 저장한 파일을 불러옵니다. 그리고 Run 메뉴 아래에 있는 Run module을 클릭하면 실행이 됩니다. 단축키가 F5로 설정된 경우, F5만 클릭하면 실행이 됩니다.


축하합니다. 1장을 마칩니다.