<a href="https://colab.research.google.com/github/skyboong/python_learning/blob/master/ch03_print_fstring.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ch03 프린트 함수 사용법

# 1 print() 함수

print() 함수를 사용할 때 자주사용하는 기능을 살펴보고, 아래에서는 f-string 출력방법을 소개하였습니다.

In [21]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [20]:
# 파라미터 설정을 하지 않고 그냥 출력하고자 하는 값을 입력한 경우

print('abc')
print('abc')

abc
abc

### sep

- 디플트는 스페이스이며, 사용자가 지정해 줄 수 있습니다.

In [10]:
print(1,2,3)

print(1,2,3, sep='***')

1 2 3
1***2***3

### end

In [23]:
# 디폴트는 newline

for i in range(5):
  print(i)

0
1
2
3
4

In [24]:
# end는 콤마(,)로 지정해 준 예시이다.

for i in range(5):
  print(3, end=',')

print('abc', end='********')

3,3,3,3,3,abc********

In [25]:
# f-string 사용할 때는 아래 형식으로 사용해야 합니다.
# 문자열앞에 f를 붙여주고, 변수명은 { } 로 둘러싸 줍니다.

a = 100
print(f"{a}")

100

# 2 f-string 방식으로 프린트 하는 방법


- 프린트 함수를 사용할 때 f-string 방법을 사용해 봅시다. 파이썬 3.6 버전 부터 추가한 방법으로, 2015년 8월 채택되었습니다. 속도가 조금 더 빠르다고 합니다. 리터럴 스트링 인터폴레이션(Literal String Interpolation) 참조하셔요.(https://www.python.org/dev/peps/pep-0498)


> 사용법

- 문자열 앞에 f 를 덧붙이고
- 따옴표(" ") 입력하고,
- 중괄호({ , }) 안에 글자를 적어 넣거나, 변수명을 넣어 주면 됩니다.

## (1) 문자

In [ ]:
color   = '노란'
shape   = '활짝'

print( f"예쁜 {color} 꽃이 {shape} 피었습니다" )

예쁜 노란 꽃이 활짝 피었습니다

## (2) 정수(int)


- 정수의 자리수 지정하기, 정수앞에 0 붙이기, 천단위마다 쉼표(,) 넣기 기능을 배워 봅시다.

In [ ]:
print(f"100+200={100+200}")

100+200=300

### **자리수 지정**

In [ ]:
a=100+200
print(f"100+200={a}")

# 그런데 위에 300 앞에 공백2개를 넣고 싶다면, 정수 자리수를 5로 설정해주면 됩니다. 아래를 보세요.
print(f"100+200={a:5}")

100+200=300
100+200=  300

### **정수값 앞에 0 채우기**

In [ ]:
print(f"100+200={100+200:010}")
print(f"T{1:02}")

100+200=0000000300
T01

### **숫자에 3자리 단위로 쉼표(,)찍기**

In [ ]:
# 쉼표(,)를 {} 뒤에 입력하면, 3자리 자리수 마다 쉼표로 끊어 표시할 수 있다.

print(f"100*200={100*200:,}")

100*200=20,000

## (3) 실수(float)


### **기본**

In [ ]:
a=100.1
b=200.1
print(f"100.1+200.1={a+b}")

100.1+200.1=300.2

### **유효자리수 지정**


- 실수(float) 소숫점을 표시할 때  f'{변수명:.1f}'와 같 이 소숫점 자리를 지정할 수가 있습니다.

In [ ]:
a = 1234567.8931234
print(f'1 {a}')
print(f'2 {a:.1f}')
print(f'3 {a:.2f}')
print(f'4 {a:.3f}')

1 1234567.8931234
2 1234567.9
3 1234567.89
4 1234567.893

### 유효자리수와 **천단위 함께 표기(,)**

In [ ]:
a = 1234567.8931234
print(f'{a}')
print(f'{a:,.1f}')
print(f'{a:,.2f}')
print(f'{a:,.3f}')

1234567.8931234
1,234,567.9
1,234,567.89
1,234,567.893

### 소수점 이하 생략

In [ ]:
a = 1234567.8931234
print(f"{a:,.0f}")

1,234,568

### **+, -  기호 표시**

In [ ]:
a =  3.14
b = -3.14

print(f"{a:+f}, {b:+f}") # +-부호 모두 보여주기
print(f"{a:-f}, {b:-f}") # - 부호만 보여주기
print(f"{a: f}, {b: f}") # + 숫자만 공백 하나 넣기

+3.140000, -3.140000
3.140000, -3.140000
 3.140000, -3.140000

### 비교

In [ ]:
a = 1000000000.0

print('1 = ', a)
print(f"2 = {a:,.2f}")
print(f"3 = {a:.2f}")

1 =  1000000000.0
2 = 1,000,000,000.00
3 = 1000000000.00


- 그리고 아래는 참고만 하셔요.

## (4) **이진수(b), 8진수(0ct), 16진수(hex)**

x, o, b 기호를 눈여겨 봅시다.

- 십진수 d
- 16진수 x
- 8진수 o
- 이진수 b

In [ ]:
a = 17
f"십진수 decimal : {a:x}"

'십진수 decimal : 11'

### 16진수

In [ ]:
f"16진수 hex: {17:x}"

'16진수 hex: 11'

In [ ]:
for i in range(16):
    print(f"16진수 hex: {i:x}")

16진수 hex: 0
16진수 hex: 1
16진수 hex: 2
16진수 hex: 3
16진수 hex: 4
16진수 hex: 5
16진수 hex: 6
16진수 hex: 7
16진수 hex: 8
16진수 hex: 9
16진수 hex: a
16진수 hex: b
16진수 hex: c
16진수 hex: d
16진수 hex: e
16진수 hex: f

In [ ]:
f"16진수 hex: {a:04x}" # 자리수 4자리,

'16진수 hex: 0011'

In [ ]:
f"8진수  oct: {a:o}"

'8진수  oct: 21'

In [ ]:
f"2진수  bin: {a:b}"

'2진수  bin: 10001'

In [ ]:
f"2진수  bin: {a:06b}"

'2진수  bin: 010001'

In [ ]:
f"2진수  bin: {a:#b}" # 앞에 0b 출력

'2진수  bin: 0b10001'

In [ ]:
f"2진수  bin: {a:#08b}" # 자리수 지정

'2진수  bin: 0b000101'

## (5) **지수(e)**

In [ ]:
# 지수 표시 출력
a = 10000000000000
print(f"{a:e}")

1.000000e+13

In [ ]:
a = 3141592653589793
print(f"{a:e}")

3.141593e+15

In [ ]:
# 자리수 설정
f"{a:.2e}"

'3.14e+15'

## 기타 - 개선되어 보인점

In [ ]:
# f-string() 이전에 사용한 format() 방식 보다 코드 길이가 조금 더 짧아져서 좋다.

a = 'blue'
b = 'red'

print(f"{a} {b}")

print("{} {}".format(a,b))

blue red
blue red

## [Quiz]


```python
[Quiz 1] 소수점 이하는 1 자리까지만 출력 하고자 한다.

name  = '원주율'
pi = 3.141592653589793

① print(f"* {name} pi = {pi:.1f}")
② print(f"* {name} pi = {pi:.2f}")
③ print(f"* {name} pi = {pi:.3f}")
```

```python
[Quiz 2] 아보가드로수를 소수점 이하 2자리로 표기하는 방법은

N_A = 6.02214076e-23

① print(f"{N_A:.2f}")
② print(f"{N_A:.2e}")
③ print(f"{N_A:,2e}")
```

In [ ]:
# sol

N_A = 6.02214076e-23

print(f"{N_A:.2f}")
print(f"{N_A:.2e}")

0.00
6.02e-23